<h2 style="text-align: center; margin-top:30px;">Sign up</h2>

<div style="display: flex; flex-direction: column; justify-content: center; align-items: center;">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

@@ -32,3 +33,5 @@
<% end %>
<%= render "devise/shared/links" %>

</div>